@CHARSET "UTF-8";

body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana,Helvetica,sans-serif;
}

h1 {
	background-color: #C3D9FF;
	padding: 5px 10px;
	border: 2px solid blue;
	font-size: 2.5em;
}

table {
	width: auto;
	border-collapse:collapse;
	margin-bottom: 0;
}

table td {
	border: 1px solid lightgrey;
}

table th {
	text-align: center;
}

fieldset {
	width: 400px;
	background: url(../images/gradient.png) repeat-x bottom;
}

fieldset.largeFieldset {
	width: 600px;
}

fieldset p {
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

a, a:visited {
	text-decoration: none;
	color: darkblue;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

form label {
	width: 120px;
	float: left;
	text-align: right;
	margin-right: 10px;
}

form .largeFieldset label {
	width: 150px;
}

form input[type=text], form input[type=password] {
	width: 250px;
}

form .largeFieldset input[type=text], form .largeFieldset input[type=password] {
	width: 400px;
}

form .center input[type=text], form .center input[type=password] {
	width: auto;
}

fieldset p {
	text-align: left;
}

p {
	margin: 0;
}

.submit {
	text-align: right;
	margin-top: 15px;
	padding-top: 15px;
}

.submitNarrow {
	text-align: right;
}

.infos {
  font-style: italic;
}

p.errorForm {
	color: #F00;
	padding: 5px;
	border-width: 1px;
	font-style: italic;
	margin-left: 150px;
}

.inputError {
	border: 1px solid #F00;
}

div.error p {
	margin: 0;
}

#popup {
	display: none;
	width: 450px;
}

#popup .close {
	text-align: center;
	padding: 10px 0;
}

#popup fieldset {
	margin: 5px 5px 15px 5px;
}

#content {
	border: 1px solid #000;
	padding: 20px;
	width: 950px;
	text-align: left;
	clear: both;
}

#header {
	width: 950px;
	text-align: left;
	clear: both;
}

div.add a {
	background: url(../images/fleche.png) no-repeat left;
	padding-left: 20px;
}

div.add {
	margin-bottom: 5px;
}

#subloading {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	background: url(../images/spinner.gif) no-repeat center #fff;
	text-align: center;
	padding: 10px;
	font: normal 16px Tahoma, Geneva, sans-serif;
	border: 1px solid #666;
	margin-left: -50px;
	margin-top: -50px;
	z-index: 2;
	overflow: auto;
}

#loading {
	width: 100%;
	height: 100%;
	background: url(../images/bg_grey.gif) repeat;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

td p {
	margin-bottom: 0.5em;
}

#popup_message {
	color: red;
	margin-top: 10px;
	margin-left: 10px;
}

.scoreLeft {
	text-align: right;
	width: 45%;
	float: left;
}

.scoreLeft input {
	margin-left: 5px;
}

.scoreCenter {
	float: left;
	width: 6%;
	text-align: center;
}

.scoreLeft input, .scoreRight input {
	text-align: center;
}

.scoreRight {
	float: left;
	text-align: left;
	width: 45%;
}

.scoreRight input {
	margin-right: 5px;
}

.clear {
	clear: both;
}

a img {
	vertical-align:middle;
}

.noborder td {
	border: none;
}

.scoreTable td.team {
	width: 40%;
}

.right {
	text-align: right;
}

hr {
	margin-top: 5px;
}

#popup table {
	width: 100%;
}

#rankings td, #rankings th {
	font-size: 11px;
	padding: 1px;
	text-align: center;
}

#rankings th, #rankings a, #rankings a:visited {
	background-color: #1874CD;
	color: white;
	padding: 3px;
}

#rankings {
	width: 100%;
}

.topscore {
	background-color: lightGrey;
	font-weight: bold;
}

/* simple modal */
#simplemodal-overlay {
	background-color: #000;
	cursor: wait;
}

#simplemodal-container {
	/*height: 400px;*/
	/*width: 600px;*/
	background-color: #fff;
	border: 3px solid #ccc;
}

#simplemodal-container a.modalCloseImg {
	background: url(../images/x.png) no-repeat;
	width: 25px;
	height: 25px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -18px;
	cursor: pointer;
}

#simplemodal-container #basicModalContent {
	padding: 8px;
}

/* --------------------------------------------------------------------------*/
/* -------------------------- NOTIFICATIONS ---------------------------------*/
/* --------------------------------------------------------------------------*/
.notifications {
	background-color: #FFF;
	background-image: none;
	margin: 3px 0 5px;
	padding: 5px;
	border: 1px solid #000;
}

/* --------------------------------------------------------------------------*/
/*------------------------------- TABS MENU ---------------------------------*/
/* --------------------------------------------------------------------------*/

/*- Menu Tabs F--------------------------- */
#tabsF {
	float: left;
	width: 100%;
	/*background:#efefef;*/
	font-size: 93%;
	line-height: normal;
	font-weight:bold;
}

#tabsF a {
  float: left;
  padding-left: 10px;
}


#tabsF ul {
	margin: 0;
	padding: 30px 10px 0 50px;
	list-style: none;
}

#tabsF ul li {
	display: inline;
	margin: 0;
	padding: 0;
}

#tabsF ul li a {
	float: left;
	background: url(../images/tableft.gif) no-repeat left top;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
}

#tabsF ul li a span {
	float: left;
	display: block;
	background: url(../images/tabright.gif) no-repeat right top;
	padding: 5px 15px 4px 6px;
	color: #666;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsF ul li a span {
	float: none;
}

/* End IE5-Mac hack */
#tabsF ul li a:hover span {
	color: #FFF;
}

#tabsF ul li a:hover {
	background-position: 0% -42px;
}

#tabsF ul li a:hover span {
	background-position: 100% -42px;
}

#tabsF ul li#currentHeaderTab a {
	background-position: 0% -42px;
}

#tabsF ul li#currentHeaderTab a span {
	background-position: 100% -42px;
}